<mat-card>
    <b><span>Manage Orders</span></b>
    <button mat-flat-button class="float-right" [disabled]="validateSubmit()" (click)="submitAction()">Submit & Get Bill</button>
</mat-card>
<hr>
<mat-card>
    <b><span>Customer Details:</span></b>
    <form [formGroup]="manageOrderForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="manageOrderForm.controls.name.touched && manageOrderForm.controls.name.invalid">
                        <span *ngIf="manageOrderForm.controls.name.errors.required">This field is mandatory</span>
                        <span *ngIf="manageOrderForm.controls.name.errors.pattern">This field is invalid</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="manageOrderForm.controls.email.touched && manageOrderForm.controls.email.invalid">
                        <span *ngIf="manageOrderForm.controls.email.errors.required">This field is mandatory</span>
                        <span *ngIf="manageOrderForm.controls.email.errors.pattern">This field is invalid</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Contact Number</mat-label>
                    <input matInput formControlName="contactNumber" required>
                    <mat-error *ngIf="manageOrderForm.controls.contactNumber.touched && manageOrderForm.controls.contactNumber.invalid">
                        <span *ngIf="manageOrderForm.controls.contactNumber.errors.required">This field is mandatory</span>
                        <span *ngIf="manageOrderForm.controls.contactNumber.errors.pattern">This field is invalid</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Payment Method</mat-label>
                    <mat-select matInput formControlName="paymentMethod" required>
                        <mat-option value="Cash">Cash</mat-option>
                        <mat-option value="Credit Card">Credit Card</mat-option>
                        <mat-option value="Debit Card">Debit Card</mat-option>
                        <mat-option value="Mobile Money">Mobile Money</mat-option>
                        <mat-option value="Bank Transfer">Bank Transfer</mat-option>
                        <mat-option value="Insurance">Insurance</mat-option>
                    </mat-select>
                    <mat-error *ngIf="manageOrderForm.controls.paymentMethod.touched && manageOrderForm.controls.paymentMethod.invalid">
                        <span *ngIf="manageOrderForm.controls.paymentMethod.errors.required">This field is mandatory</span>
                        <span *ngIf="manageOrderForm.controls.paymentMethod.errors.pattern">This field is invalid</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Appointment Date</mat-label>
                    <input matInput [(ngModel)]="startDate" [matDatepicker]="picker"  [min]="minDate" [max]="maxDate" (focus)="picker.open()" type="text" formControlName="appointment_date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card>
<hr>
<mat-card>
<b><span>Select Branch, Service and Doctor:</span></b>
<form [formGroup]="manageOrderForm">
    <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Branch</mat-label>
                <mat-select formControlName="branch" (selectionChange)="getDoctorByBranch($event.value)">
                    <mat-option *ngFor="let branch of branches" [value]="branch">{{branch.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Category</mat-label>
                <mat-select formControlName="category" (selectionChange)="getProductsByCategory($event.value)">
                    <mat-option *ngFor="let category of categorys" [value]="category">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Service</mat-label>
                <mat-select formControlName="product" (selectionChange)="getProductDetails($event.value); getDoctorsByProduct($event.value)">
                    <mat-option *ngFor="let product of products" [value]="product">{{product.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Doctor</mat-label>
                <mat-select formControlName="doctor" (selectionChange)="getDoctorDetails($event.value)">
                    <mat-option *ngFor="let doctor of doctors" [value]="doctor">{{doctor.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Doctor Contact Number</mat-label>
                <input matInput formControlName="doctor_contactNumber" required readonly>
                <mat-error *ngIf="manageOrderForm.controls.doctor_contactNumber.touched && manageOrderForm.controls.doctor_contactNumber.invalid">
                    <span *ngIf="manageOrderForm.controls.doctor_contactNumber.errors.required">This field is mandatory</span>
                    <span *ngIf="manageOrderForm.controls.doctor_contactNumber.errors.pattern">This field is invalid</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Doctor Email</mat-label>
                <input matInput formControlName="doctor_email" required readonly>
                <mat-error *ngIf="manageOrderForm.controls.doctor_email.touched && manageOrderForm.controls.doctor_email.invalid">
                    <span *ngIf="manageOrderForm.controls.doctor_email.errors.required">This field is mandatory</span>
                    <span *ngIf="manageOrderForm.controls.doctor_email.errors.pattern">This field is invalid</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" required readonly>
                <mat-error *ngIf="manageOrderForm.controls.price.touched && manageOrderForm.controls.price.invalid">
                    <span *ngIf="manageOrderForm.controls.price.errors.required">This field is mandatory</span>
                    <span *ngIf="manageOrderForm.controls.price.errors.pattern">This field is invalid</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Number of Patients</mat-label>
                <input matInput formControlName="quantity" required (keyup)="setQuantity($event)" #input>
                <mat-error *ngIf="manageOrderForm.controls.quantity.touched && manageOrderForm.controls.quantity.invalid">
                    <span *ngIf="manageOrderForm.controls.quantity.errors.required">This field is mandatory</span>
                    <span *ngIf="manageOrderForm.controls.quantity.errors.pattern">This field is invalid</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Total</mat-label>
                <input matInput formControlName="total" required readonly>
                <mat-error *ngIf="manageOrderForm.controls.total.touched && manageOrderForm.controls.total.invalid">
                    <span *ngIf="manageOrderForm.controls.total.errors.required">This field is mandatory</span>
                    <span *ngIf="manageOrderForm.controls.total.errors.pattern">This field is invalid</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
<div>
    <button mat-flat-button [disabled]="validateProductAdd()" (click)="add()">Add</button>
    <button mat-flat-button class="float-right">Total Amount: {{totalAmount}}</button>
</div>
</mat-card>
<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{element.category}}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef>Branch</th>
            <td mat-cell *matCellDef="let element">{{element.branch}}</td>
        </ng-container>
        <ng-container matColumnDef="doctor">
            <th mat-header-cell *matHeaderCellDef>Dr Name</th>
            <td mat-cell *matCellDef="let element">{{element.doctor}}</td>
        </ng-container>
        <ng-container matColumnDef="doctor_contactNumber">
            <th mat-header-cell *matHeaderCellDef>Dr No</th>
            <td mat-cell *matCellDef="let element">{{element.doctor_contactNumber}}</td>
        </ng-container>
        <ng-container matColumnDef="doctor_email">
            <th mat-header-cell *matHeaderCellDef>Dr Email</th>
            <td mat-cell *matCellDef="let element">{{element.doctor_email}}</td>
        </ng-container>
        <ng-container matColumnDef="appointment_date">
            <th mat-header-cell *matHeaderCellDef>Appointment Date</th>
            <td mat-cell *matCellDef="let element">{{element.appointment_date}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Number of Patients</th>
            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">{{element.total}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element;let i = index" class="action-link">
                <button mat-icon-button matTooltip="Delete" (click)="handleDeleteAction(i,element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td> 
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
    </table>
</div>
