<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>local_hospital</mat-icon> ClinicX
    </a>
    <ul>
      <li><a (click)="signupAction()">Signup</a></li>
      <li><a (click)="loginAction()">Login</a></li>
      <li><a (click)="forgotPasswordAction()">Forgot Password?</a></li>
      <li><a (click)="branchLoginAction()">Branch Login</a></li>
      <li><a (click)="doctorLoginAction()">Doctor Login</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @UONBI_CSC418 Developers</h2>
</div>