.mat-toolbar{
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
    background-color: #2CCBC6;
}

.title-center{
    flex: 1 1 auto;
    text-align:center;
}

mat-form-field{
    padding: 5px;
}

button{
    background-color: #2CCBC6;
}

mat-hint{
    color: red;
}