<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">ClinicX Hospital - We 've got your back</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>About The Hospital</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The ClinicX is a multispecialty Hospital with branches in Kenya located in Nairobi, Mombasa and Kisumu. 
                            We offer patient-focused, world class medical treatment and accord the highest
                            standards of medical care to all our patients indiscriminately. Since its inception in 2011 ClinicX Hospital
                            has been acclaimed for excellence in clinical care in Africa.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..."  background-size="100%"/></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Our Services</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            1. 24 Hour Laboratory Services<br/>
                            2. Hydrotherapy<br/>
                            3. Rehabilitation<br/>
                            4. Gastroenterology<br/>
                            5. Surgery<br/>
                            6. Vascular and endovascular service<br/>
                            7. 24 Hour Ambulance Services<br/>
                            8. Dental Services<br/>
                            9. Dialysis Center<br/>
                            10. Emergency and Accident Services<br/>
                            11. Heart Clinic<br/>
                            12. Paediatric Services<br/>
                            13. Pharmacy Services<br/>
                            14. Radiology and Imaging Services
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..."/></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Why Choose Us</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            1. State of the art equipment<br/>
                            2. Quality Policy<br/>
                            3. Affordable HealthCare<br/>
                            4. Dedication
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Contacts & Branches in Kenya</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"><b>Nairobi Branch</b><br/>
                            Location: Muhoho Avenue,South C,Nairobi<br/>
                            Find on Map: <a class="link-color" href="https://goo.gl/maps/GHAHSRBGpqrVE9Th6"><b>Click Here</b></a><br/>
                            Tel: <a class="link-color" href="tel:+254700123456<"><b>+254 700123456</b></a> / <a class="link-color" href="tel:+254700012345<"><b>+254 700012345</b></a><br/>
                            Email: <a class="link-color" href="mailto:ogle_abdirahman@students.uonbi.ac.ke"><b>ogle_abdirahman@students.uonbi.ac.ke</b></a><br/>
                        </p><br/>
                        <p class="text-muted"><b>Mombasa Branch</b><br/>
                            Location: Links road,Nyali,Mombasa<br/>
                            Find on Map: <a class="link-color" href="https://maps.app.goo.gl/idsmwJuXdgNA2JnN6"><b>Click Here</b></a><br/>
                            Tel: <a class="link-color" href="tel:+254711123456"><b>+254 711123456</b></a> / <a class="link-color" href="tel:+254711112345"><b>+254 711112345</b></a><br/>
                            Email: <a class="link-color" href="mailto:abdullahawilogle@outlook.com"><b>abdullahawilogle@outlook.com</b></a><br/>
                        </p><br/>
                        <p class="text-muted"><b>Kisumu Branch</b><br/>
                            Location: Ring road,Milimani,Kisumu<br/>
                            Find on Map: <a class="link-color" href="https://maps.app.goo.gl/sJ6TCdzJLP8tJDVd9"><b>Click Here</b></a><br/>
                            Tel: <a class="link-color" href="tel:+254722123456"><b>+254 722123456</b></a> / <a class="link-color" href="tel:+254722212345"><b>+254 722212345</b></a><br/>
                            Email: <a class="link-color" href="mailto:ogleenergy2021@gmail.com"><b>ogleenergy2021@gmail.com</b></a><br/>
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        ClinicX Family!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>